.container{
    margin-bottom: 60px;
    padding: 10px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
    height: 400px;
}
.carousel-item{
    padding: 20px 40px;

}
.price{
    color:#ff136f;
}
.buy-now{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 20px;
}
.cat1, .cat2, .cat3,.picture img{
    height: 100px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: rgb(177, 212, 241);
}
.cat3{
    background-color: rgb(238, 143, 182);
}
.card-img-top{
    height: 200px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    padding: 20px;
    margin: 10px;
    height: 450px;
    width: 200px;
}
#ContactUs{
    height: 300px;
}
.footer{
    color: red;
    text-align: center;
    
}